{{extend 'layout.html'}}

<table id="index_table">
    <tbody>
<tr class="hilite"><td class="odd">Nama Unit</td><td>{{=unit[0].unit.nama_unit}}</tr>
<tr><td>Nama Building</td><td>{{=unit[0].building.nama_building}}</tr>
<tr class="hilite"><td class="odd">Tenant</td><td>{{=B(unit[0].tenant.nama_lengkap)}}</tr>
<tr><td>Available</td><td>{{=unit[0].unit.available}}</tr>
<tr><td class="odd">Keterangan</td><td>{{=unit[0].unit.keterangan}}</tr>
<tr><td>Iklan</td><td>{{=unit[0].unit.iklan}}</tr>
</tbody>
</table>
{{pass}}
<hr>
<h2>Sewa</h2>

<table class="view_related" data-role="table" id="table-custom-2" data-mode="columntoggle" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-theme="b" data-column-btn-text="Tampilkan" data-column-popup-theme="a">
    <thead>
    <tr class="ui-bar-d">
<th>Nama Lengkap</th>
<th>Sewa Awal</th>
<th>Sewa Akhir</th>
<th data-priority="1">Tanggal Masuk</th>
<th data-priority="2">Tanggal Keluar</th>
<th>Frequency</th>
<th>Harga Sewa</th>
<th data-priority="4">Keterangan</th>
<th>Action</th>
        </tr>
        </thead>
    <tbody>
{{for l in lease:}}
<tr> 
<td>{{=l.tenant.nama_lengkap}}</td>
<td>{{=l.lease.sewa_awal}} </td>
<td>{{=l.lease.sewa_akhir}} </td>
<td>{{=l.lease.tgl_masuk}} </td>
<td>{{=l.lease.tgl_keluar}} </td>
<td>{{=l.frequency.frequency}} </td>
<td>{{=moneyfmt(Decimal(l.lease.harga_sewa))}}</td>
<td>{{=l.lease.keterangan}}</td>

    
<td><a href="/jpm/lease/view/{{=l.lease.id}}" class="ui-btn ui-btn-inline ui-mini">[Detail]</a></td>
</tr>
{{pass}}
        </tbody>
</table>

<div data-role="footer" data-position="fixed" style="background-color:gray;">
   <center>{{=A('[Check-In]',_class="ui-btn",_href=URL('tenant','checkin',vars={'unit' : unit[0].unit.id}))}}
   {{=A('[Edit]',_class="ui-btn",_href=URL('edit',args=unit[0].unit.id))}}</center>
</div>
