{{extend 'layout.html'}}

<table class="index_table">
<tr><td>User</td><td>{{=rcp[0].receipt.user}}</td></tr>
<tr><td>Nama Lengkap</td><td>{{=rcp[0].tenant.nama_lengkap}}</td></tr>
<tr><td>Tgl Bayar</td><td>{{=rcp[0].receipt.tgl_bayar}}</td></tr>
<tr><td>Jumlah</td><td>{{=rcp[0].receipt.jumlah}}</td></tr>
<tr><td>Keterangan</td><td>{{=rcp[0].receipt.keterangan}}</td></tr>
</table>

<h4>Detail</h4>
<table class="view_related">
<th>Keterangan</th>
<th>Jumlah</th>
<th>Action</th>

{{for l in detail:}}
<tr> 
<td>{{=l.keterangan}}</td>
<td>{{=l.jumlah}} </td>
<td><a href="/jpm/receipt/viewdetail/{{=l.id}}">[View]</a></td>
</tr>
{{pass}}
</table>
